@media (max-width: 580px){

    .navbar{
        width: 100%;
    }

    .grid{
        display: grid;
        height: 600px;
        margin: 10px;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,300px);
        grid-template-areas: 
        "img1 img2"
        "img3 img4";
    }

    .img1 img {
        width: 200px;
        height: 200px;
    }

    .img2 img {
        width: 200px;
        height: 200px;
    }

    .img3 img {
        width: 200px;
        height: 200px;
    }

    .img4 img {
        width: 200px;
        height: 200px;
    }
}
